* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: rgb(49, 49, 146);
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_box {
  width: 600px;
  background-color: white;
  border-radius: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
}

input {
  width: 70%;
  height: 50px;
  font-size: 20px;
  margin-right: 30px;
  padding: 10px;
  border: none;
  outline: none;
  box-shadow: 0 0 10px blue;
  border-radius: 10px;
}

.input_box {
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

button {
  font-size: 20px;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 10px;
}

.add_btn {
  width: 120px;
  height: 50px;
  background-color: rgb(47, 47, 90);
}

button:active {
  transform: scale(0.95);
}

.add_btn:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.add_btn:disabled:active {
  transform: scale(1);
}

i {
  font-size: 30px;
  position: absolute;
  top: 60%;
  right: 33%;
  cursor: pointer;
}

i:active {
  transform: scale(0.95);
}

.output_box {
  border-radius: 10px;
  padding: 20px;
  max-height: 450px;
  overflow: scroll;
  scrollbar-width: none;
}

.task {
  width: 100%;
  height: 60px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0 0 10px black;
}

.task button {
  border-radius: 0;
  font-size: 17px;
  padding: 10px;
}

.complete {
  background-color: green;
  margin-right: 10px;
}

.remove {
  background-color: red;
}