* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

#root{
  width: 100%;
  height: 100%;
}

form{
  background-color: #444;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

form input{
  padding: 10px;
  font-size: 17px;
  border-radius: 10px;
  border: 1px solid white;
  outline: 1px solid #000;
}

button{
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: rgb(15, 161, 117);
}

button:active{
  transform: scale(0.95);
}

.Box{
  width: 200px;
  height: 200px;
  background-color: #fff;
}

.main_box{
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #222;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card_box{
  width: 400px;
  height: 250px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  background-color: rgb(99, 138, 138);
  transition: all ease 0.3s;
}

.card_box:hover{
  transform: translateY(-10px);
  box-shadow: 0 0 10px black;
}