* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

nav {
  width: 100%;
  height: 70px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.links_box {
  display: flex;
  gap: 20px;
}

.links_box a {
  font-size: 20px;
  text-decoration: none;
  color: rgb(11, 124, 58);
  border-radius: 20px;
}

a:focus {
  text-decoration: underline;
}

footer {
  width: 100%;
  height: 70px;
  background-color: black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(12, 156, 48);
}

button:active {
  transform: scale(0.95);
}

.product_box {
  width: 300px;
  height: 400px;
  border: 1px solid white;
  border-radius: 20px;
}

.product_main_box {
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.product_box .product_img_box {
  width: 100%;
  height: 70%;
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 70%;
  height: 70%;
  object-fit: cover;
}

.product_box .product_title {
  width: 100%;
  height: 30%;
  text-align: center;
  padding: 10px;
}

.product_title h2 {
  transition: all ease 0.3s;
}

a {
  text-decoration: none;
  color: white;
}

.product_title h2:hover {
  color: rgb(14, 119, 58);
  text-shadow: 0 0 10px red;
}

.detail {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.detail h1 {
  font-size: 40px;
}

.detail_box{
  width: 90%;
  height: 400px;
  border-radius: 20px;
  border: 1px solid white;
  display: flex;
}

.detail_img_box{
  width: 50%;
  height: 100%;
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail_img_box img{
  width: 60%;
  height: 60%;
  object-fit: cover;
}

.detail_title{
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.detail_title h2{
  font-size: 30px;
}

.detail_title p{
  color: rgb(73, 62, 47);
}