* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.app_div {
  padding: 20px;
}

nav,
section,
footer {
  width: 100%;
  height: 70px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 30px;
}

button {
  padding: 10px 20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(50, 91, 128);
  border-radius: 10px;
}

button:active {
  transform: scale(0.95);
}