* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html,
body {
    width: 100%;
    height: 100%;
}

nav {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(72, 38, 104);
}

h1 {
    font-size: 40px;
}

.right_nav {
    display: flex;
    gap: 20px;
}

.right_nav .link {
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 20px;
}

.link:active {
    transform: scale(0.95);
}

.link:focus {
    color: red;
}

footer {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(51, 41, 95);
}

footer p {
    font-size: 30px;
}

main{
    width: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c_link{
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-decoration: underline;
}