* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#root{
  padding: 20px;
}

div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:450px
}

h1{
  font-size: 50px;
  font-family: monospace  ;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: aquamarine;
  font-size: 20px;
  font-family: monospace;
  cursor: pointer;
  transition: all ease 0.3s;
}

button:hover {
  box-shadow: 0 0 20px orange;
  color: orange;
  letter-spacing: 2px;
}