* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_box {
  width: 1000px;
  min-height: 200px;
  border-radius: 10px;
  padding: 10px;
  background-color: #888;
  box-shadow: 0 0 20px black;
}


form {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input {
  width: 85%;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  border: none;
  outline: none;
  box-shadow: 0 0 10px black;
  background-color: lightblue;
}


button {
  width: 130px;
  height: 50px;
  font-size: 20px;
  background: linear-gradient(rgb(9, 146, 78), rgb(92, 68, 33));
  border: none;
  cursor: pointer;
}

.header {
  text-align: center;
  padding: 10px;
}

.header h1 {
  font-size: 40px;
}

.box {
  width: 100%;
  min-height: 300px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tempreture_box h2{
  font-size: 50px;
}

.other_detail p{
  margin-bottom: 10px;
}

.city_detail h2{
  margin-bottom: 10px;
}

button:active{
  transform: scale(0.95);
}