* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#root{
  padding: 20px 160px;
  background-color: black;
}

.Main{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.box {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  background-color: white;
}

button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  font-size: 19px;
  border-radius: 10px;
  cursor: pointer;
}

button:active {
  transform: scale(0.95);
}