*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html,body{
  width: 100%;
  height: 100%;
  background-color: #999;
}
#root{
  width: 100%;
  height: 100%;
}
form{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 10px;
}
input{
  width: 650px;
  height: 50px;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.btn{
  width: 98%;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(rgba(6, 151, 156, 0.589),rgb(47, 155, 47));
}
button:active{
  transform: scale(0.95);
}
.card_box{
  width: 100%;
  min-height: 400px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card{
  width: 310px;
  height: 350px;
  background-color: transparent;
  box-shadow: 0 0 20px black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}
img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
.img_box{
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
.remove{
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  background-color: red;
}
h1{
  color: rgb(16, 59, 57);
}
.card:hover{
  transform: translateY(-10px);
}
img:hover{
  transform: scale(1.05);
}