* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.root {
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.icon_box {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@property --custom-value {
    syntax: '<angle>';
    inherits: true;
    initial-value: 0deg;
}

@keyframes --rotate-value {
    from {
        transform: rotate(var(--custom-value));
    }

    to {
        transform: rotate(360deg);
    }
}

.icon_box img {
    width: 140px;
    height: 100%;
}

.react_icon {
    transform: rotate(var(--custom-value));
    animation: --rotate-value linear;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#app_box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 70px;
}

h1 {
    font-size: 50px;
}

button {
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: all ease 0.2s;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 15px;
}

button:hover {
    border: 2px solid blue;
}

.btn_para {
    font-size: 20px;
    color: #a5a1a1;
}

.footer_para {
    font-size: 20px;
    color: #737171;
}