* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: rgb(165, 190, 212);
}

button {
    cursor: pointer;
}

.main_header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background-color: white;
    border-bottom: 1px solid black;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo h3 {
    font-size: 50px;
    font-weight: 100;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

li a {
    text-decoration: none;
    color: black;
}

.second_header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background-color: white;
}

.second_left_logo p {
    font-size: 20px;
}

.second_right_box {
    padding: 15px;
}

.second_right_box i {
    font-size: 35px;
    margin: 10px;
}

.section_heading {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 40px 0;
}

.section_heading h3 {
    font-size: 30px;
}

.section_main_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 100px;
}

.section_inner_box {
    padding-top: 25px;
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
    background-color: white;
}

.img_box {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.img_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.name_and_profesion {
    padding: 10px;
}

.skills_box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.skills_box button {
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 20px;
}

.view_btn {
    width: 100%;
    height: 60px;
    font-size: 18px;
}

#blue_btn {
    background-color: rgb(9, 136, 179);
}

#avilable {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: rgb(19, 197, 19);
    font-size: 15px;
}

footer {
    color: white;
}

.upper_footer {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    color:black;    
    border-top: 1px solid black;
    background-color: white;
}

.upper_right_box {
    display: flex;
    gap: 40px;
}

.left_arrow,
.right_arrow {
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid black;
}

.count ul {
    list-style: none;
    display: flex;
}

.count ul li {
    padding: 10px;
    border: 1px solid black;
}

.main_footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(69, 87, 189);
}

.main_footer h4 {
    font-size: 20px;
    padding: 10px;
}

.main_footer ul {
    list-style: none;
}

.main_footer ul li {
    padding: 10px;
}

.footer_box_one {
    font-size: 20px;
    padding: 10px;
}

.footer_box_five h4 {
    margin-bottom: 10px;
}

.footer_box_five i {
    font-size: 30px;
    padding: 10px;
}