* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html,
body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(grey,black);
}

.main {
  width: 330px;
  height: 480px;
  overflow: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  border-radius: 10px;
  box-shadow: 0 0 20px black;
}

.reels_box {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
  scroll-snap-align: start;
}

.bottom {
  width: 100%;
  height: 120px;
  position: absolute;
  bottom: 0;
}

.aside {
  width: 65px;
  min-height: 200px;
  position: absolute;
  right: 0;
  top: 100px;
}

.aside div {
  width: 100%;
  height: 70px;
}

.bottom div {
  width: 100%;
  height: 50%;
}

.profile_box {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 10px;
}

.profile_box h3 {
  font-size: 20px;  
}

.profile_box button {
  width: 70px;
  height: 25px;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid white;
}

.para_box {
  padding: 10px;
}

.para_box p {
  font-size: 19px;
}

.aside div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.aside div h4 {
  font-size: 30px;
  cursor: pointer;
  z-index: 100;
  font-weight: 100;
}

.aside div h5 {
  font-size: 20px;
  cursor: pointer;
}

.aside div h4:active {
  transform: scale(0.95);
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.5;
}

#heart{
  position: absolute;
  font-size: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-45deg) scale(1);
  background: linear-gradient(red,blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 99;
  transition: all ease 0.3s;
  opacity: 0;
}