* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: rgb(118, 141, 161);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#root {
    width: 350px;
    min-height: 200px;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    position: relative;
}

.img_box {
    width: 100%;
    height: 140px;
}

.profile_box {
    width: 100%;
    min-height: 150px;
    display: flex;
    padding: 0 15px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 25%;
}

.big_img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.profile_img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 5px;
    outline: 3px solid white;
}

h2 {
    font-size: 30px;
}

p {
    color: rgb(64, 66, 66);
}

.like_box {
    padding-top: 150px;
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.like_box div {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4 {
    font-size: 25px;
}

h6 {
    font-size: 14px;
    color: rgb(64, 66, 66);
    ;
}

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

i {
    font-size: 40px;
}