* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
}

html,
body {
    width: 100%;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
    background-color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 60px;
}

ul {
    display: flex;
    gap: 60px;
    list-style: none;
    font-family: monospace;
}

li {
    font-size: 18px;
    border: 1px solid #ccc;
    padding: 6px 10px;
    border-radius: 30px;
    cursor: pointer;
}

h2 {
    font-size: 30px;
    font-weight: 100;
}

.right_nav_btn {
    padding: 7px 20px;
    border: none;
    border-radius: 20px;
    background-color: rgb(3, 17, 32);
    cursor: pointer;
    color: white;
    cursor: pointer;
}

.bg_box {
    margin: auto;
    width: 91%;
    border-radius: 20px;
    height: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQt0LdmfMsoUOjCyBJtIwtp1Babm5t5A6ZSapnDVTzJgYFUReKl);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.center_box {
    margin-top: 30px;
    width: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.center_box h1 {
    font-size: 50px;
}

.para_box {
    width: 640px;
}

.para_box p {
    font-size: 20px;
}

.center_box button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    background-color: rgb(3, 17, 32);
    cursor: pointer;
    color: white;
}

.footer{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between  ;
    padding: 0 30px;
}

.left_footer_box{
    display: flex;
    width: 290px;
}

.right_footer_box{
    padding: 10px;
    display: flex;
    gap: 20px;
}

.right_footer_box a{
    color: white;
}