* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

#root{
  display: flex;
}

.box{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 20px;
}

.change{
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 17px;
  background-color: rgb(92, 138, 92);
}

button:active{
  transform: scale(0.95);
}

.washroom{
  width: 300px;
  height: 100px;
  font-size: 30px;
  border-radius: 10px;
  border: none;
}

#Male{
  background-color: #0d0d55;
}

#Femlae{
  background-color: rgb(221, 54, 82);
}

#Others{
  background: linear-gradient(red,orange,yellow,green,blue,violet);
}