* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

button{
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
  margin: 20px;
}

.get{
  background-color: rgb(19, 126, 19);
}

.remove{
  background-color: red;
}

button:active{
  transform: scale(0.95);
}

.card_box{
  flex-wrap: wrap;
  gap: 20px;
  display: flex;
  flex-wrap: wrap ;
  padding: 20px;
}

.card{
  width: 300px;
  height: 300px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0 10px black;
}