* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#root{
  width: 100%;
  height:100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  background-color: rgb(71, 61, 61);
}

.box{
  width: 200px;
  height: 200px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: rgb(10, 12, 11)
}

h1{
  font-size: 70px;
}

.btn_box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

button{
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

button:active{
  transform: scale(0.95);
}

.increase{
  background-color: rgb(60, 158, 60);
}

.decrease{
  background-color: blue;
}

.reset{
  background-color: red;
}