* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

html,
body {
    width: 100%;
    height: 100%;
}

#root{
    padding: 10px;
}

nav{
    width: 100%;
    height: 80px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    background-color: #777;
    margin-bottom: 10px;
}

.center_nav{
    display: flex;
    gap: 30px;
}

.center_nav h3{
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
}

button{
    padding: 10px 20px;
    font-size: 19px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

button:active{
    transform: scale(0.95);
}