* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

.box {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

header {
    width: 100%;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    position: fixed;
}

#header_logo {
    cursor: pointer;
    display: flex;
    align-items: center ;
    gap: 10px;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

li {
    font-size: 18px;
    cursor: pointer;
}

aside {
    width: 80px;
    height: 100%;
    position: fixed;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#inner_box {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    flex-direction: column;
}

#line {
    width: 1px;
    height: 200px;
    border: 1px solid black;
}

#aside_para {
    transform: rotate(-90deg);
    white-space: nowrap;
}

#aside_para_text {
    transform: rotate(-90deg);
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#all_div_main_box {
    width: 550px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 100px;
    left: 150px;
    z-index: 9999;
}

#project_number {
    font-size: 50px;
    font-weight: 100;
}

#p_s_main_box{
    width: 200px;
    display: flex;
}

#hello_main_box{
    width: 100%;
    height: auto;
}

#scroll_box{
    width: 100%;
    height:  10px   ;
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#hello_text{
    font-size: 200px;
    font-weight: 100;
}

#project_text{
    font-size: 14px;
    white-space: nowrap;
    margin-left: 30px;
}

#hello_para{
    margin-left: 20px;
    line-height: 0;
}

#scroll_para{
    font-size: 20px;
    display: inline;
}

i{
    font-size: 30px;
}

#bgimage_box{
    width: 690px;
    height: 550px;
    position: absolute;
    bottom: 0;
    right: 10%;
}

#bgimage{
    width: 100%;
    height: 100%;
    border-radius: 0;
}

#arrow_span{
    font-weight: 100;
}