* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#root{
    width: 100%;
    height: 100%;
    background-color: #d3c6c6;
}

.Main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.box {
    width: 250px;
    height: 400px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #FAFAFA;
}

.img_box {
    width: 100%;
    height: 230px;
    border-radius: 20px;
}

.img_box img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.name_box {
    padding: 12px 0;
    display: flex;
    gap: 10px;
    align-items: center;
}

.name_box img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.para_box p {
    color: rgb(77, 76, 75);
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .footer_one_box {
    padding: 10px;
}

.footer_one_box h5 {
    font-size: 20px;
}

.footer .footer_two_box {
    padding: 10px;
}

.footer_two_box h5 {
    font-size: 20px;
}

button {
    font-size: 17px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
}